body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #f0fff3;
  color: #11cbd7;
}

h1, h2 {
  width: 100%;
  font-weight: 600;
  text-align: center;
}
h1 {
  margin: 20px 0 10px 0;
  font-size: 36px;
}
h2 {
  font-size: 14px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fa4659;
}

.square {
  background: #fff;
  border: 1px solid #c6f1e7;
  color: #fa4659;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.game-info {
  margin-left: 60px;
}

.game-info button {
  border: none;
  background: transparent;
  color: #11cbd7;
  text-decoration: underline;
  cursor: pointer;
}